      <!-- Mark-up for each product, looped through -->
      <div class="product-card">
        <a href="{{ product.url }}">
          <img src="{{ product | image_url: width: 400 }}"/>
          <div class="product-text">
            <p>{{ product.title }}</p>
            <p>{{ product.price | money }}</p>
            <button>Read more</button>
          </div>
        </a>
      </div>