@include media-breakpoint-up (xs) {
  .featured-collection {
    padding: 4rem 0;
    .collection-intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
    }
    .collection-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}