@include media-breakpoint-up(xs) {
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
  .upper-navigation {
      background-color: $primary-colour;
      min-height: 30px;
    }
    .primary-navigation-wrapper {
      background-color: #fff;
      border-bottom: 1px solid $secondary-colour;
      display: flex;
      align-items: center;
      min-height: 100px;
      .primary-navigation {
        display: flex;
        justify-content: center;
        .logo-and-links {
          display: flex;
          align-items: center;
          ul.main-menu-links {
            display: none;
          }
        }
        .main-ui-links {
          display: none;
          .cart-number {
            background-color: #f25858;
            color: $secondary-colour;
            padding: 2px 4px;
            text-align: center;
            font-size: 0.6rem;
            position: relative;
            top: -20px;
            left: -15px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    .primary-navigation-wrapper {
      .primary-navigation {
        justify-content: space-between;
        .logo-and-links {
          ul.main-menu-links {
            display: flex;
            li {
              list-style: none;
            }
          }
        }
        .main-ui-links {
          display: flex;
          align-items: center;
          gap: 1rem;
          li {
            list-style: none;
          }
        }
      }
    }
  }
}