@include media-breakpoint-up (xs) {
  .product-card {
    text-align: center;
    .product-text {
      padding: 1rem 0;
      text-align: center;
      .compare-price {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        p.compare {
          color: #999999;
          text-decoration: line-through;
          margin-right: 0.5rem;
        }
      }
    }
  }
}