@include media-breakpoint-up (xs) {
  .product-card {
    text-align: center;
    .product-text {
      padding: 1rem 0;
      text-align: center;
      p {
        padding-bottom: 0.5rem;
      }
    }
  }
}