{% paginate collection.products by 20 %}

<div class="hero-banner container">
  <h1>{{ collection.title }}</h1>
</div>

<select id="sort-by">
  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

  {% for option in collection.sort_options %}
    <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
      {{ option.name }}
    </option>
  {% endfor %}
</select>

<div class="container">
  
  {% for product in collections['frontpage'].products %}
    <!-- Mark-up for each product, looped through -->
    {% render 'product-item', product: product %}
  {% endfor %}
  
</div>

  {{ paginate | default_pagination }}
{% endpaginate %}