@include media-breakpoint-up (xs) {
  button {
    background-color: $primary-colour;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    color: $secondary-colour;
    text-transform: uppercase;
    @extend a;
    margin-top: 1rem;
    a {
      color: $secondary-colour;
      text-transform: uppercase;
    }
  }
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: #374151;
  }
  button.icon-search {
    background-color: unset;
    padding: unset;
  }
  button:hover.icon-search {
    box-shadow: unset;
  }
  input[type="submit"] {
    @extend button;
  }
}