@include media-breakpoint-up(xs) {
  .icon {
    height: 20px;
    width: 20px;
  }
  .icon-search {
    margin-top: 0;
    height: 20px;
    width: 20px;
  }
  .icon-cart {
    height: 30px;
    width: 30px;
  }
}