// Colors
$color-text: hsl(10, 20%, 20%);
$color-background: hsl(10, 10%, 98%);
$color-primary: hsl(10, 80%, 50%);
$color-secondary: hsl(10, 60%, 50%);
$color-highlight: hsl(10, 40%, 90%);
$color-purple: hsl(250, 60%, 30%);
$color-muted: hsl(10, 20%, 94%);
$color-gray: hsl(10, 20%, 50%);

// Fonts
$font-body: system-ui, -apple-system, BlinkMacSystemFont;
$font-heading: inherit;
$font-monospace: Menlo, monospace;

/** Breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1201px,
  xxl: 1400px
);

$gutters: unset;

/** Font Sizes **/
$mob-font-size-lg: 1rem; // 18
$mob-font-size-md: 1rem; // 18
$mob-font-size-sm: 0.75rem; // 18
$mob-font-size-h1: 1.25rem; // 18
$mob-font-size-h2: 1.25rem; // 18
$mob-font-size-h3: 1.25rem; // 18
$mob-font-size-h4: 1rem; // 18

$tab-font-size-lg: 1rem; // 18
$tab-font-size-md: 1rem; // 18
$tab-font-size-sm: 0.75rem; // 18
$tab-font-size-h1: 1.25rem; // 18
$tab-font-size-h2: 1.25rem; // 18
$tab-font-size-h3: 1.25rem; // 18
$tab-font-size-h4: 1rem; // 18

$desk-font-size-lg: 1rem;
$desk-font-size-md: 1rem;
$desk-font-size-sm: 0.75rem;
$desk-font-size-h1: 2.5rem;
$desk-font-size-h2: 2rem;
$desk-font-size-h3: 1.75rem;
$desk-font-size-h4: 1rem;

/** Padding **/
$region-padding: 2rem 0;

/** Margin **/
$region-margin: 2rem 0;

/** Image **/
%image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}